.container{
    a{
        cursor: pointer;
        font-family: 'Press Start 2P', cursive;
        font-size: 10px;
    }
    .navbar-brand{
        font-family: 'Press Start 2P', cursive;
        font-size: 13px;
        span{
            color: #AE0061 ;
        }
    }
}