*{
    box-sizing: border-box;
}
#login {
    button {
        background-color: #AE0061;
    }
    .img{
        display: flex;
        justify-content: center;
        width: auto;
        height: 35rem;
    }


}